# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Django
staticfiles/
*.sqlite3
media/

# Node
node_modules/
dist/
.npm
.next/
*.tsbuildinfo

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/pubspec.lock

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Docker
*.log

# Coverage
htmlcov/
.coverage
.pytest_cache/
