# PrepaidGas Kenya — Environment Configuration

SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend,102.212.245.79

POSTGRES_DB=prepaidgas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@db:5432/prepaidgas

JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=7

CORS_ALLOWED_ORIGINS=http://102.212.245.79:3000,http://102.212.245.79,http://localhost:3000

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# M-Pesa Daraja
MPESA_ENV=sandbox
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=174379
MPESA_PASSKEY=
MPESA_CALLBACK_URL=http://102.212.245.79:8000/api/v1/payments/mpesa/callback/

# Stron Power API v3.0.17
# Swagger: http://www.server-newv.stronpower.com/swagger/docs/v3.0.17
STRON_BASE_URL=http://www.server-newv.stronpower.com/api
STRON_COMPANY_NAME=your-company-name
STRON_USERNAME=your-username
STRON_PASSWORD=your-password
STRON_VEND_BY_UNIT=false

# SMS — africas_talking | twilio
SMS_PROVIDER=africas_talking
AFRICAS_TALKING_API_KEY=
AFRICAS_TALKING_USERNAME=sandbox
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
SMS_SENDER_ID=PrepaidGas

# Email — smtp | sendgrid
EMAIL_PROVIDER=smtp
SENDGRID_API_KEY=
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@prepaidgas.co.ke

MIN_PURCHASE_AMOUNT=50
MAX_PURCHASE_AMOUNT=50000
